<!DOCTYPE HTML>
<html>
<head>
<title>Flask-SocketIO Test</title>

<link rel="stylesheet" href="/static/remotecontrol.css" type="text/css" />

<script type="text/javascript" src="static/tween.js"></script>
<script type="text/javascript" src="static/steelseries.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    ////////////////
    // guiObjects //
    ////////////////
    var bat_breakpoints = Array(steelseries.Section(23,23.5, 'rgba(220,0,0,0.3)'),
                                steelseries.Section(23.5,24, 'rgba(220,220,0,0.3)'),
                                steelseries.Section(24,25.5, 'rgba(0,220,0,0.3)'),
                                steelseries.Section(25.5,27.5, 'rgba(0,0,220,0.3)'),
                                steelseries.Section(27.5,28, 'rgba(220,0,0,0.3)'));
    var bat_areas = Array(steelseries.Section(23,23.5, 'rgba(220,0,0,0.3)'),
                          steelseries.Section(23.5,24, 'rgba(220,220,0,0.3)'),
                          steelseries.Section(27.5,28, 'rgba(220,0,0,0.3)'));

    var radial_bat1 = new steelseries.Radial(
        'canvas_bat1', {
        section: bat_breakpoints,
        area: bat_areas,
        titleString: 'Battery 1',
        unitString: 'V',
        minValue: 23,
        maxValue: 28,
        labelNumberFormat: steelseries.LabelNumberFormat.FRACTIONAL,
        fractionalScaleDecimals: 1,
        pointerType: steelseries.PointerType.TYPE11
        });

    var radial_bat2 = new steelseries.Radial(
        'canvas_bat2', {
        section: bat_breakpoints,
        area: bat_areas,
        titleString: 'Battery 2',
        unitString: 'V',
        minValue: 23,
        maxValue: 28,
        labelNumberFormat: steelseries.LabelNumberFormat.FRACTIONAL,
        fractionalScaleDecimals: 1,
        pointerType: steelseries.PointerType.TYPE11
        });

    //////////////
    // socketIO //
    //////////////
    namespace = ''; // change to an empty string to use the global namespace
    // the socket.io documentation recommends sending an explicit package upon connection
    // this is specially important when using the global namespace
    var battdiv = document.getElementById('battery');
    var logdiv = document.getElementById('log');
    var bmpdiv = document.getElementById('bumper');

    var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
    
    socket.on('connect', function() {
        socket.emit('my event', {data: 'Backend Connected...'});
    });

    // event handler for server sent data
    // the data is displayed in the "Received" section of the page
    socket.on('my response', function(msg) {
        //$('#log').append('<br>Received #' + msg.count + ': ' + msg.data);
        logdiv.innerHTML = 'Heartbeat: ' + msg.count ;
    });

    // event handler for battery update data sent from the server
    socket.on('battery response', function(msg) {
        //$('#battery').append(msg.data['battery1'] + 'Volts ' + msg.data['battery2'] + 'Volts');
        battdiv.innerHTML = 'B1: ' + msg.data['battery1'] + 'Volts<br>' + 'B2: ' + msg.data['battery2'] + 'Volts';
        if (msg.data['onCharge'] == 'Charging'){
            $('#battery').append('<br>State: <font color="green">' + msg.data['onCharge'] + '</font><br>Time: N/A');
        } else {
            var timeon = msg.data['batODO'];
            //var timenow = new Date() / 1000 | 0; // current time in seconds since epoch
            //var result = (timenow - timeon) / 60; // minutes running on battery
            //alert(timeon + ", " + timenow + ", " + result);
            $('#battery').append('<br>State: <font color="red">' + msg.data['onCharge'] + '</font><br>Time on Battery: ' + Number(timeon).toFixed(2) + ' mins');
        }
        radial_bat1.setValueAnimated(msg.data['battery1']);
        radial_bat2.setValueAnimated(msg.data['battery2']);
        console.log(msg.data['battery1']);
    });

    // event handler for bumper update data sent from the server
    socket.on('bumper response', function(msg) {
        var dirs = ["n", "ne", "se", "s", "sw", "nw"];
        var obj = JSON.parse(msg.data);
        console.log(msg.data);
        console.log(obj);

        for( t=0; t < dirs.length; t++ ){
            //if dirs[t] :
                bmp.div.append("Detected: " + key + ": " + msg.data[dirs[t]]);
        }
        bmpdiv.append(msg.data);
    });

    // handlers for the different forms in the page
    // these send data to the server in a variety of ways
    $('form#emit').submit(function(event) {
        socket.emit('my event', {data: $('#emit_data').val()});
        return false;
    });

    $('form#broadcast').submit(function(event) {
        socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
        return false;
    });
});

</script>
</head>
<body>
    <h1>Robot Control-Z</h1>
    <div id="viewer">
        <img src="http://10.3.1.98:8090/?action=stream" width="800" />
    </div>
    <div id="battery_box">
        <div id="battery_data">        
            <h2>Battery Data:</h2>
            <div id="battery"></div>
        </div>
        <div id="battery_dials">
            <canvas id="canvas_bat1" width="150" height="150">Canvas isn't supported by your Browser</canvas>
            <canvas id="canvas_bat2" width="150" height="150"></canvas>
            <!-- <canvas id="canvas_bat_linear"></canvas> -->
        </div>
    </div>
    <div id="bumper_box">
        <div id="bumper"></<div>
        <div id="north">
            <img width="50px" src="/static/triangle_nw_green.png">
            <img width="50px" src="/static/square_green.png">
            <img width="50px" src="/static/triangle_ne_green.png">
        </div>
        <div id="middle">
            <img width="50px" src="/static/box_black.png">
            <img width="50px" src="/static/box_black.png">
            <img width="50px" src="/static/box_black.png">
        </div>
        <div id="south">
            <img width="50px" src="/static/triangle_sw_green.png">
            <img width="50px" src="/static/square_green.png">
            <img width="50px" src="/static/triangle_se_green.png">
        </div>
    </div>
    <div id="status_box">
        <h2>Status:</h2>
        <div id="log"></div>
    </div>
</body>
</html>
